#logo {
    width: 200px;
    height: 200px;
    /* Correct path if the assets folder is at the project root */
    background-image: url('../../assets/holberton-logo.jpg');
    background-size: 200px 200px;
  }
  